<!DOCTYPE html>
<html lang="en">
<%- include("./components/head.ejs") %>
<body>
    <%- include("./components/header") %>

    <main>
        <div class="container my-5"> <!-- Added my-5 for vertical margin -->
            <h1 class="display-4"><%= title %></h1> <!-- Utilized Bootstrap display heading -->
        </div>
    </main>

    <%- include("./components/footer.ejs") %>
</body>
</html>