<!DOCTYPE html>
<html lang="en">
<%- include("./components/head.ejs") %>
<body>
    <%- include("./components/header") %>

    <main>
        <div class="container my-5 text-center">
            <h1 class="display-4 mt-4" style="color: red;">403 - Forbidden!</h1>
            <p class="lead">Sorry, you do not have permission to access this page.</p>
            <img src="../../public/cat403.jpg" class="img-fluid" alt="Forbidden Page Image">
        </div>
    </main>

    <%- include("./components/footer.ejs") %>
</body>
</html>