<!DOCTYPE html>
<html>
<%- ("./components/head")%>
<body>
    <%- include("./components/header.ejs") %>
    <%- include("./components/main.ejs") %>
    <%- include("./components/footer.ejs") %>
</body>
</html>