<% if (typeof errors !=='undefined' && errors.length> 0) { %>
  <div class="alert alert-danger text-center">
    <% errors.forEach(error=> { %>
      
        <% if (error.status) { %>
          <b>
            <%= error.status %> :
          </b>
      <%}%>
      <% if (error.message) { %>
          <%= error.message %>
      <%}%>
    </ul>
      <% }); %>
  </div>
<% } %>

<% if (typeof success !=='undefined' && success.length > 0) { %>
  <div class="alert alert-success text-center">
    <% success.forEach( message => { %>
      <ul class="text-center">
      <%=message %> 
      </ul>
    <% }); %>
  </div>
<% } %>