<% if (typeof errors !=='undefined' && errors.length > 0) { %>
  <div class="alert alert-danger text-center">
    <% errors.forEach(error => { %>
      <p>
        <% if (typeof error.status !== 'undefined') { %>
          <strong>
            <%= error.status %> :
          </strong>
      <%}%>
      <% if (typeof error.message !== 'undefined') { %>
          <%= error.message %>
      <%}%>
      </p>
      <% }); %>
  </div>
<% } %>

<% if (typeof success !=='undefined' && success.length > 0) { %>
  <div class="alert alert-success text-center">
    <% success.forEach( s => { %>
      <ul class="text-center">
      <%= s.message %> 
      </ul>
    <% }); %>
  </div>
<% } %>