<!-- header.ejs -->

<header>
  <h1>crypto-market</h1>
  <nav>
    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/finance">Finance</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">register</a></li>
      </ul>
    </div>
  </nav>
</header>
