<!-- FILEPATH: /Users/rohit/igor/Databases and the Web/crypto-market/mvc/view/components/login_form.ejs -->
<form action="/login" method="POST">

<div>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>
</div>

<div>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
</div>

  <button type="submit">Login</button>
  <a href="/register"><p>register</p></a>
</form>
