<% if (condition1) { %>
    <!-- Render main component 1 -->

<% } else if (condition2) { %>
    <!-- Render main component 2 -->

<% } else { %>
    <!-- Render default main component -->

<% } %>

<main>
    <%= content %>
</main>