<form action="/api/register" method="POST" class="mt-4">
    <!-- Old Password -->
    <div class="mb-3">
        <label for="oldPassword" class="form-label">Old Password:</label>
        <input type="text" id="oldPassword" name="oldPassword" class="form-control" value="<%= '' %>" required>
    </div>

    <!-- new  password -->
    <div class="mb-3">
        <label for="newPassword" class="form-label">New Password:</label>
        <input type="text" id="newPassword" name="newPassword" class="form-control" value="<%= '' %>" required>
    </div>

    <!-- confirm Password -->
    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password:</label>
        <input type="text" id="confirmPassword" name="confirmPassword" class="form-control" value="<%=  '' %>" required>
    </div>

    <!-- submit button -->
    <div class="mt-3">
        <div>
          <button type="submit" class="btn btn-primary mt-2 d-block text-center"><i class="fab"></i> Submit </button>
        </div>
    </div>
    
    <!-- Cancel -->
    <div class="mt-3">
    <div>
        <a  href="/profile" class="btn btn-danger mt-2 d-block text-center"><i class="fab"></i> Cancel </a>
    </div>
    </div>
    
</form>