<!-- Sidebar -->
<aside class="sidebar">
  <!-- Sidebar Navigation -->
  <ul class="sidebar-nav custom-list">
      <li class="sidebar-item">
          <a href="/" class="sidebar-link">
              <i class="fa-solid fa-home pe-2"></i>
              Home
          </a>
      </li>
      <li class="sidebar-item">
          <a href="/profile" class="sidebar-link">
              <i class="fa-solid fa-list pe-2"></i>
              Profile
          </a>
      </li>
      <li class="sidebar-item">
          <a href="/dashboard" class="sidebar-link">
              <i class="fa-solid fa-sliders pe-2"></i>
              Dashboard
          </a>
      </li>
      <li class="sidebar-item">
          <a href="/finance" class="sidebar-link">
              <i class="fa-solid fa-calculator pe-2"></i>
              Finance
          </a>
      </li>
      <li class="sidebar-item">
        <a href="/admin/user/search" class="sidebar-link">
            <i class="fa-solid fa-magnifying-glass"></i>
            Search
        </a>
    </li>
  </ul>
</aside>

<!-- Content Section -->
<main class="content">
  <!-- Sidebar Toggle Button with Menu Icon -->
  <div class="btn" id="sidebarToggle">
      <span class="navbar-toggler-icon"></span>
  </div>

  <!-- Your other content goes here -->
</main>
